cache/*
libraries/*
logs/*
versions/*
world/*
world_nether/*
world_the_end/*
.console_history
banned-ips.json
banned-players.json
commands.yml
eula.txt
help.yml
ops.json
permissions.yml
spigot.yml
usercache.json
version_history.json
whitelist.json

plugins/Archive/*
plugins/Plan/cached_json/*
plugins/Plan/database.db
plugins/Plan/database.db-wal
plugins/Plan/database.db-shm

plugins/AuthMe/authme.db
plugins/AuthMe/playerdata/*
plugins/AuthMe/authme.log
plugins/AuthMe/spawn.yml

plugins/LuckPerms/luckperms-h2.mv.db
plugins/LuckPerms/translations/*

plugins/dynmap/world.pending
plugins/dynmap/web/*
plugins/dynmap/ids-by-ip.txt

plugins/Essentials/userdata/*
plugins/Essentials/usermap.csv
